<html>

<head>
  <title>Teacher Assignments</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    h1 {
      text-align: center;
      font-size: 36px;
      margin-bottom: 30px;
    }
  </style>
</head>

<body>
  <h1>Teacher Assignments</h1>
  <table>
    <tr>
      <th>Teacher</th>
      <th>Course 1</th>
      <th>Course 2</th>
      <th>Course 3</th>
      <th>Preference Score</th>
      <th>Score/Course</th> <!-- New column header -->
    </tr>
    {% for teacher, data in solution.items() %}
    <tr>
      <td>{{ teacher }}</td>
      {% for course in data['course_names'] %}
        <td>{{ course }}</td>
      {% endfor %}
      {% for _ in range(3 - data['course_names']|length) %}
        <td></td>
      {% endfor %}
      <td>{{ data['teacher_score'] }}</td>
      <td>{{ data['average_score'] }}</td> <!-- Display the average_score value -->
    </tr>
    {% endfor %}
  </table>
</body>

</html>