.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin-top: 40px;
}
form {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teacher {
  width: 200px;
  margin: 20px;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: blue;
}
